/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* layout */
body {
  background: #f0f2f9;
  margin: 0;
  font-family: "Poppins";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}